* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    padding: 0 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: auto;
}

.logo-reservia {
    width: 100px;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    flex: 1;
}

.nav-link {
    display: inline-block;
    padding: 30px 30px;
    font-weight: 600;
    border-top: 3px solid transparent;
    min-width: 120px;
}

.nav-link:hover {
    color: #0065FC;
    border-top-color: #0065FC;
}

.header-login {
    padding: 30px;
    font-weight: 700;
    color: #0065FC;
}

@media screen and (max-width: 640px) {

    
}

/* Main */

main {
    margin-top: 20px;
}
/* 1er Section */
    /* Search */

.search {
    max-width: 1440px;
    margin: auto;
}

.search h1 {
    font-size: 2em;
    padding: 25px 0 8px;
}

.search-bloc {
    display: flex;
    height: 50px;
    margin-top: 15px;
}

.search-bloc i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-map-marker-alt {
    background-color: #F2F2F2;
    padding: 0 20px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.search-bloc input {
    font-size: 15px;
    font-weight: bold;
}

.input-search {
    width: 220px;
    border: 1px solid #F2F2F2;
    padding-left: 20px;
}

.button-search {
    background-color: #0065FC;
    padding: 0 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 1.1em;
    font-weight: bold;
    border: none; 
    color: white;
    cursor: pointer;
}

        /* Filtres */

#filtres-section {
    display: flex;
    align-items: center;
    margin: 30px 0px 20px;
}
        
      
.filtre-bouton {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 25px;
    flex-wrap: wrap;
    cursor: pointer;
}
  
.circle-icon-filter {
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2px;
    left: 1px;
}
        
.filtre {
    display: flex;
    flex-wrap: wrap;
}
        
.filtre p {
    height: 50px;
    display: flex;
    align-items: center;
    border: 2px solid #d9d9d9;
    padding: 0px 25px 0px 65px;
    border-radius: 25px;
    font-weight: bold;
}
        
.titre_filtres p {
    font-weight: bold;
}
        
.fa-filtre {
    color: #0065FC;
    font-size: 1.3em;
}

.filtre-bouton:hover {
    background-color: #f3f8ff;
    border-radius: 25px;
    transform: scale(1.015);  
}

    /* MQ Filtre */

@media screen and (max-width: 1000px) {

    .filtre-bouton {
        margin: 15px 15px 0 0;
    }

    #filtres-section {
        display: block;
    }
}

/* Info */

.section1-info{
    margin: 0 0 30px;
}
    
.section1-info i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
    
.fa-info {
    color: #0065FC;
    border: 1px solid #F2F2F2;
    margin-right: 7px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
}

/* Hebergement, Populaire */

.hosting {
    display: grid;
    grid-template-columns: 6fr 3fr;
    column-gap: 40px;
    max-width: 1440px;
    margin: 30px auto;
    background-color: white;
}

.HostingMain {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 70px 1fr 1fr 80px;
    grid-gap: 30px;
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 0 30px;
}

.HostingMainHeader {
    grid-column: 1 / -1;
    padding: 25px 0 0 10px;
}

.HostingMainCard {
    height: 100%;
    background-color: white;
    padding: 7px;
    border-radius: 25px;
}

.HostingMainCardFigure img {
    width: 100%;
    height: 112px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

.HostingMainCardFigcaption h3 {
    padding: 4px 0 3px 15px;
}

.HostingMainCardPara {
    padding: 0 0 3px 15px;
}

.HostingMainCardIcone {
    padding-left: 15px;
}

.HostingMainStrong {
    padding: 25px 0;
}

    /* Icone etoile */

.fa-star {
    color: #0065FC;
}

.fa-star1 {
    color: #F2F2F2;
}

/* Aside Popular */

.HostingPopular{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px repeat(3, 1fr);
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 0 30px;
}

.HostingPopularCard {
    height: 140px;
}

.HostingPopularTitle {
    display: flex;
    justify-content: space-between;
    padding: 25px 0 0 10px;
    grid-column: 1 / -1;
}

.HostingPopularCard a{
    display: flex;
}

.HostingPopularCard img {
    width: 130px;
    height: 140px;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.HostingPopularCardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0 10px 10px;
}

    /* MQ Hebergement, Populaire */

@media screen and (max-width: 1360px) {

    .hosting {
        grid-template-columns: 1fr;
        row-gap: 25px;
    }

    .HostingPopular {
        order: -1;
        grid-template-rows: 100px 180px;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 25px;
    }

    .HostingPopularCard img {
        width: 110px;
    }
}

@media screen and (max-width: 1120px) {

    .HostingMain {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 70px repeat(3, 1fr) 80px;
    }
}

@media screen and (max-width: 1000px) {

    .HostingPopular {
        grid-template-columns: 1fr;
        grid-template-rows: 80px repeat(3, 180px);
    }

    .HostingPopularCard img {
        width: 100%;
    }
}

@media screen and (max-width: 660px) {

    .HostingPopularCard img {
        width: 120px;
    }
}

@media screen and (max-width: 620px) {

    .HostingMain {
        grid-template-columns: 1fr;
        grid-template-rows: 70px repeat(6, 1fr) 80px;
        padding: 0 10px;
    }

    .HostingPopular {
        padding: 0 10px;
    }
}

/* Activity */

.activity {
    max-width: 1440px;
    margin: 30px auto;
    display: grid;
    grid-template-rows: 70px repeat(2, 1fr);
    grid-template-columns:  repeat(4, 1fr);
    grid-gap: 20px;
  }

  .ActivityTitle {
    padding: 30px;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }
  
  .ActivityCard {
      box-shadow: 1px 1px 15px 2px rgba(0,0,0,0.27);
      background-color: white;
      overflow: hidden;
      border-radius: 25px;
  }

  .ActivityCard img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .ActivityCard1, .ActivityCard4 {
      grid-row: 2 / -1;
  }

  .ActivityCard4 {
    grid-column: 3 / 4;
  }

  .ActivityCard2 img, .ActivityCard3 img, .ActivityCard5 img, .ActivityCard6 img {
    height: 230px;
  }

  .ActivityCard1 img, .ActivityCard4 img {
      height: 550px;
  }

  .ActivityCard h3 {
      padding: 15px;
  }

    /* MQ Activity */

@media screen and (max-width: 1100px) {

    body {
        font-size: 14px;
    }

    .activity {
        grid-template-columns:  repeat(3, 1fr);
        grid-template-rows: 70px repeat(2, 1fr);
    }

    .ActivityCard1, .ActivityCard4 {
        grid-row: inherit;
    }

    .ActivityCard1 img, .ActivityCard4 img{
        height: 230px;
    }

    .ActivityCard4 {
        grid-column: inherit;
    }
}

@media screen and (max-width: 900px) {

    .activity {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 70px repeat(3, 1fr);
    }
}

@media screen and (max-width: 600px) {

    .activity {
        grid-template-columns: 1fr;
        grid-template-rows: 70px repeat(6, 1fr);
    }
}

/* Footer */

.footer {
    background-color: #F2F2F2;
    width: 100%;
}

.footer-main {
    display: flex;
    max-width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
}

.footer-column {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 40px;
    margin-left: 15px;
}

.footer-column a {
    text-decoration: none;
    color: black;
    font-weight: normal;
}

.footer-column a:hover {
    text-decoration: underline;
} 

.footer-column h4 {
    font-size: 1.3em;
    font-weight: bold;
}

.footer-title {
    margin: 50px 0 15px;
}

.footer-link {
    margin-bottom: 15px;
}

/* MQ Footer */

@media screen and (max-width: 640px) {

    .footer-main{
        flex-direction: column;
        text-align: center;
    }

    .footer-column:not(:nth-child(1)) {
        margin: 15px 0;
    }

    .nav-link {
        padding: 15px 0;
    }
}

/* Media queries */

.mobil-only {
    display: none;
}

@media screen and (max-width: 640px) {

    body {
        padding: 0 10px;
    }

    /* MQ Header */
    .desktop-only {
        display: none;
    }

    .header {
        flex-wrap: wrap;
    }

    .header-nav {
        order: 1;
    }

    .nav-link {
        flex: 1;
        text-align: center;
        border-top: 0;
        border-bottom: 3px solid transparent;
    }

    .nav-link:hover {
        border-bottom-color: #0065FC;
    }

    .mobil-only {
        display: flex;
    }

    /* MQ Search */

    .input-search {
        flex: 1;
    }

    .button-icone {
        background-color: #0065FC;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        font-size: 1.1em;
        font-weight: bold;
        border: none; 
        color: white;
    }

    .fa-search {
        color: white;
        padding: 0 20px;
    }

    .search-bloc input {
        width: 50px;
    }

    .button-icone {
        padding: 0;
        
    }

}

@media screen and (max-width: 950px) {

    .hosting-popular {
        width: 80%;
    }

    .container-items2 .img-container {
        flex: none;
    }

    .bloc-item {
        flex: none;
    }
    
    .bloc-card-article2 {
        display: flex;
        flex-direction: column;
    }

   .bloc-card-article2 a {
        flex: none;
        width: 100%;
        margin-left: 0;
    }
}





